/* coding with nick */
@import url('https://fonts.cdnfonts.com/css/interstate');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Interstate', sans-serif;
}

body{
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
  font-family:  'Interstate', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;   
}

.start-page{
    align-items: center;
    font-size: 36px;
    padding: 0.2em 0.8em;
    background-image: url(./images/Objective.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%; 
    min-width: 50vw;
    min-height: 50vh;
    z-index: 15;
    margin: 0 auto;
}

main{
  width: 60%;
  min-width: 470px;
  min-height: 275px; 
  z-index: 10;
  margin: 0 3em;
  color: #fff;
}

.section-intro{
    font-size: 1em;
    padding: 0.75em 2.5em;
    overflow-wrap: break-word;
}
 
.section-intro> h5{
  padding: 0 2.5em;
  font-weight: 500;
  margin: 0;
}
.section-intro> ul{
  margin: 0.1em;
  padding: 0 2em;
  list-style-type: none;

}
.section-intro> ul>li{
  font-size: 0.6em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

li:before {
  content: "";
  border-color: transparent #FFE600;
  border-style: solid;
  border-width: 0.45em 0 0.45em 0.6em;
  display: block;
  height: 0;
  width: 0;
  left: -2em;
  top: 1.1em;
  position: relative;
}
 
.navigation-btn{
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  bottom: 5vh;
  width: 80%;
  gap: 40px;
}

a{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}