/* coding with nick */
@import url('https://fonts.cdnfonts.com/css/interstate');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Interstate', sans-serif;
}

body{
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
  font-family: 'Interstate', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;   
}

.start-page{
    align-items: center;
    padding: 0.2em 1.5em;
    font-size: 60px;
    background-image: url(./images/Intro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%; 
    min-width: 50vw;
    min-height: 50vh;
    z-index: 15;
    margin: 0 auto;
}

main{
  width: 40%;
  min-width: 470px;
  min-height: 275px; 
  z-index: 10;
  margin: 0.7em 2.5em;
  color: #fff;
}

.section-intro{
    font-size: 1em;
    padding: 0.3em 0;
    inline-size: 90%;
    overflow-wrap: break-word;
}

.start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #c4c4c4;
    position: absolute;
    width: 200px;
    height: 80px;
    border: none;
    font-size: 0.6em; 
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    text-decoration: none ;
}

.start-btn:hover ,
.start-btn:active{
    background-color: #7c7c7c; 
} 
